/*BOILERPLATE*/
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: rgb(0, 255, 247);
  --dark-blue-1: hsl(217, 54%, 11%);
  --dark-blue-2: hsl(216, 50%, 16%);
  --dark-blue-3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-blue-1);
}

/*CARD -- MOBILE*/
.card {
  width: calc(327 / 375 * 100%);
  max-width: 35rem;
  margin: 6.2rem auto;
  padding: 2.4rem;
  border: 1.5rem;
  background: var(--dark-blue-2);
}

@media screen and (min-width: 48em) {
  .card {
    margin: 15.2rem auto;
  }
}

.card__image {
  background: url("./images/image-equilibrium.jpg");
  background-size: cover;
  border-radius: 0.8rem;
  height: 27.8rem;
  display: grid;
  place-content: center;
}

@media screen and (min-width: 48em) {
  .card__image {
    height: 30.2rem;
  }
}

.card__image--view {
  opacity: 0;
}

.card__image:hover {
  cursor: pointer;
  background: linear-gradient(rgba(0, 255, 247, 0.5), rgba(0, 255, 247, 0.5)),
    url("./images/image-equilibrium.jpg");
  background-size: cover;
}

.card__image:hover > .card__image--view {
  opacity: 1;
}

.card__text {
  margin: 2.4rem 0 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card__text--heading {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 600;
}

.card__text--heading:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card__text--body {
  color: var(--soft-blue);
  font-size: 1.8rem;
  line-height: calc(26 / 18);
  font-weight: 300;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__details--child {
  display: flex;
  gap: 0.7rem;
  font-size: 1.5rem;
}

.card__details--ethereum {
  color: var(--cyan);
}

.card__details--clock {
  color: var(--soft-blue);
}

.card__divider {
  border-top: 1px solid var(--dark-blue-3);
  border-bottom: none;
  margin: 1.6rem 0;
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.5rem;
  color: var(--soft-blue);
}

.card__footer--image {
  width: 3.3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card__footer--text > span {
  color: var(--white);
}

.card__footer--text > span:hover {
  color: var(--cyan);
  cursor: pointer;
}
