/*BOILERPLATE*/
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-1: hsl(217, 54%, 11%);
  --dark-blue-2: hsl(216, 50%, 16%);
  --dark-blue-3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-blue-1);
}

/*CARD -- MOBILE*/
.card {
  width: calc(327 / 375 * 100%);
  margin: 6.2rem auto;
  padding: 2.4rem;
  border: 1.5rem;
  background: var(--dark-blue-2);
}

.card__image {
  width: 100%;
  border-radius: 0.8rem;
}

.card__text {
  margin: 2.4rem 0 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card__text--heading {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 600;
}

.card__text--body {
  color: var(--soft-blue);
  font-size: 1.8rem;
  line-height: calc(26 / 18);
  font-weight: 300;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__details--child {
  display: flex;
  gap: 0.7rem;
  font-size: 1.5rem;
}

.card__details--ethereum {
  color: var(--cyan);
}

.card__details--clock {
  color: var(--soft-blue);
}

.card__divider {
  border-color: var(--dark-blue-3);
  margin: 1.6rem;
}

.card__footer {
}

.card__footer--image {
}

.card__footer--text {
}
