/*BOILERPLATE*/
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-1: hsl(217, 54%, 11%);
  --dark-blue-2: hsl(216, 50%, 16%);
  --dark-blue-3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-blue-1);
}

/*CARD -- MOBILE*/
.card {
  width: calc(327 / 375 * 100%);
  margin: auto;
  padding: 2.4rem;
  border: 1.5rem;
  background: var(--dark-blue-2);
}

.card__image {
}

.card__heading {
}

.card__body {
}

.card__details {
}

.card__details--child {
}

.card__details--ethereum {
}

.card__details--clock {
}

.card__divider {
}

.card__footer {
}

.card__footer--image {
}

.card__footer--text {
}
